server {
    listen       ${CONTENT_APP_LISTEN_PORT} default_server;
    listen       [::]:${CONTENT_APP_LISTEN_PORT} default_server;
    server_name  _;

    root /;

    # Force trailing slash at the end
    # rewrite ^([^.\?]*[^/])$ $1/ permanent;

    location / {
        proxy_pass http://${CONTENT_APP_HOST}:${CONTENT_APP_PORT}/;
    }

    error_page   404              /404.html;
    error_page   500 502 503 504  /50x.html;
    location = /50x.html {
        root   html;
    }
}
